body {
    background-color: #24353f;
}

h1 {
    color: #17a2b8;
}

input {
    background-color: transparent !important;
    color: white !important;
}

::placeholder {
    color: #fff !important;
}

.logform {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

a:hover {
    text-decoration: underline !important;
}

.child {
    background-color: rgba(137, 73, 180, 1);
    width: 800px;
    height: 300px;
}